<template>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <template v-for="conversation in conversations">
                    <router-link
                        :to="{name: 'conversation', params: {id: conversation.id}}"
                        :key="conversation.id"
                        class="list-group-item d-flex justify-content-between align-items-center"
                    >
                        {{ conversation.name }}
                        <span class="badge badge-pill badge-primary" v-if="conversation.unread">{{ conversation.unread }}</span>
                    </router-link>
                </template>
            </div>
        </div>

        <div class="col-md-9">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        props: {
            user: Number
        },
        computed: {
            ...mapGetters('Messages', ['conversations'])
        },
        mounted () {
            this.loadConversations()
            this.setUser(this.user)
            this.initSocketEventListener(this.user)
        },
        methods: {
            ...mapActions('Account', ['setUser']),
            ...mapActions('Messages', ['loadConversations','initSocketEventListener'])
        }
    }
</script>
