<template>
    <div class="card">
        <div class="card-header">{{ name }}</div>

        <div class="card-body messager__body">
            <message :message="message" v-for="message in messages" :key="message.id" :user="user"></message>

            <form action="" method="POST">
                <div class="form-group">
                    <textarea v-model="content" name="content" placeholder="Введите сообщение" :class="{'form-control': true, 'is-invalid': errors['content']}" @keypress.enter.prevent="send"></textarea>
                    
                    <div class="invalid-feedback" v-if="errors['content']">{{ errors['content'].join(',') }}</div>
                </div>
            </form>
            
            <div class="messager__loading" v-if="loading">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import Message from './../components/Message'

    export default {
        components: { Message },
        data () {
            return {
                content: '',
                errors: {},
                loading: false
            }
        },
        computed: {
            ...mapGetters('Messages', {storeMessages: 'messages'}),
            ...mapGetters('Messages', ['conversation']),
            ...mapGetters('Account', ['user']),
            messages () {
                return this.storeMessages
            },
            lastMessages () {
                return this.messages[this.messages.length - 1]
            },
            name () {
                return this.conversation.name
            },
            count () {
                return this.conversation.count
            }
        },
        mounted () {
            this.getMessgaes()
            this.$messages = this.$el.querySelector('.messager__body')
            document.addEventListener('visibilitychange', this.onVisible)
        },
        destroyed () {
            document.removeEventListener('visibilitychange', this.onVisible)
        },
        watch: {
            '$route.params.id' () {
                this.getMessgaes()
            },
            lastMessages () {
                this.scrollBot()
            }
        },
        methods: {
            ...mapActions('Messages', ['loadMessages','sendMessage','loadPreviousMesssages']),
            /** Listener for 'visibilitychange' Event */
            /** If window no active load messages offline */
            onVisible () {
                if (document.hidden === false) {
                    this.loadMessages()
                }
            },
            /** Get messages */
            async getMessgaes () {
                let response = await this.loadMessages()

                if (this.messages.length < this.count) {
                    this.$messages.addEventListener('scroll', this.onScroll)
                }
            },
            /** Listener for 'scroll' Event */
            async onScroll () {
                if (this.$messages.scrollTop === 0) {
                    let previousHeight = this.$messages.scrollHeight
                    this.loading = true
                    this.$messages.removeEventListener('scroll', this.onScroll)

                    await this.loadPreviousMesssages()

                    this.$nextTick(() => {
                        this.$messages.scrollTop = this.$messages.scrollHeight - previousHeight
                    })

                    if (this.messages.length < this.count) {
                        this.$messages.addEventListener('scroll', this.onScroll)
                    }

                    this.loading = false
                }
            },
            /** autoscrolling after send messages, etc  */
            scrollBot () {
                this.$nextTick(() => {
                    this.$messages.scrollTop = this.$messages.scrollHeight
                })
            },
            /** Send New Message after Ender submit */
            async send (event) {
                if (event.shiftKey === false) {
                    this.loading = true
                    this.errors = {}
                    try {
                        await this.sendMessage(this.content)
                        this.content = ''
                    } catch (error) {
                        if (error.errors) {
                            this.errors = error.errors
                            this.scrollBot()
                        } else {
                            console.error(error)
                        }
                    }
                    this.loading = false
                }
            }
        }
    }
</script>