.messager {
    &__body {
        max-height: calc(100vh - 250px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
    &__loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .8);
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
}
// scroll messages loader
.loader {
    display: block;
    border: 10px solid #ddd;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}